body {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  margin: 0;
}

header {
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
  padding: 1em;
}

header nav {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
}

header ul { 
  list-style: none;
  padding-left: 0;
  display: flex;
  flex: 1;
}

header li {
  padding-left: 2em;
}
